<div class="footer">
    <div class="bottom">
        <div class="container">
            <nav>
                <ul>
                    <li class="m-only">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="https://github.com/PnT-NEXT/PnT_Mgmt_Portal" target="_blank">@GitHub</a>
                    </li>
                    <li class="m-only">
                        <a href="">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <p class="copy">
                © PnT.NEXT, 2015-2016
            </p>
        </div>
    </div>
</div>