<style>
    .cource-item {
        /*width: 260px;*/
        margin: 10px;
        padding: 5px;
        height: 320px;
        background: white !important;
        -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
        /*display: inline-block;*/
    }

    .cource-item .cource-view {
        background-color: #19b5e4;
        margin: -5px;
        height: 45%;
        width: auto;
        position: relative;
    }

    .cource-item .cource-more {
        /*position: relative;*/
        margin: 0;
        text-align: center;
        vertical-align: middle;
    }

    .cource-item .cource-rating {
        position: absolute;
        bottom: 0px;
        right: 5px;
    }

    .cource-item .cource-info {
        padding: 10px;
        text-transform: capitalize;
        line-height: 1.5em;
        margin-bottom: -5px;
    }

    .cource-item .cource-info .cource-title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        font-size: 18px;
        /*font-weight: bold;*/
        color: #444444 !important;
    }

    .cource-item .cource-info p, .cource-item .cource-info small, .cource-item .cource-info span {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }

    .cource-item .cource-actions {
        position: absolute;
        bottom: 15px;
        text-align: right;
        right: 30px;
    }

    .cource-item .cource-actions .btn {
        -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
        margin-left: 5px;
    }

</style>

<div class="cource-item">

    <div class="cource-view" ng-style="{background:rndColor}">

        <!--<div class="cource-more"><a class="btn btn-default">learn more</a></div>-->

        <div class="cource-rating">
            <starrating color="white" size="large" read-only="false" rating="rating" max-rating="5"></starrating>
        </div>
    </div>

    <div class="cource-info">
        <p class="cource-title">{{cource.name}}</p>

        <span>{{cource.courseId}} | {{cource.programType}}</span>

        <span>{{cource.city}} | {{cource.duration}} Days</span>
    </div>
    <div class="cource-actions">
        <a class="btn btn-link" ng-click="onClickMore()">more</a>
        <a class="btn btn-link" ng-click="onClickEnroll(cource._id)">enroll</a>
    </div>
</div>