<style>
    .tr-item {
        /*width: 260px;*/
        margin: 5px 0px;
        padding: 5px;
        background: white !important;
        -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
        /*display: inline-block;*/
    }

    .tr-item .tr-info .tr-title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        font-size: 18px;
        /*font-weight: bold;*/
        color: #444444 !important;
    }

    .tr-item .tr-user-row {
        display: flex;
    }

    .tr-item .tr-user-avatar {
        float: right;
        margin-top: 6px;
        margin-right: 6px;
    }

    [ng-drop].drag-enter {
        border: solid 1px #2196f3;
    }

    [ng-drag].drag-over {
        border: solid 1px #2196f3;
    }

    [ng-drag].dragging {
        /*opacity: 0.5;*/
        position: relative;
    }

    #userSection [ng-drag].dragging .tr-drag-hide {
        /* display: none;*/
        opacity: 0.5;
    }

    .tr-item .tr-user {
        height: 50px;
        display: inline-block;
        width: 50px;
        /*background-color: #6ad2cf;*/
        margin: 5px;
    }

    .tr-item .tr-info p, .tr-item .tr-info small, .tr-item .tr-info span {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }

    .tr-item .tr-actions {
        position: absolute;
        bottom: 15px;
        text-align: right;
        right: 30px;
    }

    .tr-item .tr-actions .btn {
        -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
        margin-left: 5px;
    }
</style>

<div>
    <div id="trainingSection" class="col-lg-8">
        <input type="search" placeholder="search training" class="form-control" ng-model="trainingQuery"/>

        <div ng-repeat='tr in trainings | filter : trainingQuery | orderBy: predicate' class="tr-item row"
             ng-drop="true" ng-drop-success="onDropComplete($data, tr)">
            <div class="col-lg-5">
                <p class="tr-title"><a target="_blank" href="/training/detail/{{tr._id}}">{{tr.name}}</a></p>
                <span class="tr-info">{{tr.courseId | uppercase }} | {{tr.programType}}</span>
            </div>
            <ul class="col-lg-7 tr-user-row">
                <li ng-repeat='ur in tr.userList' class="tr-user" ng-show="$index<=5">
                    <div class="tr-user-avatar">
                        <user-avatar user-id="{{ur._id}}" user-name="{{ur.userName}}" px-size="50" can-delete="true"
                                     on-delete="onDeleteUser(ur,tr)"></user-avatar>
                    </div>
                </li>
                <span ng-show="tr.userList.length>6">
                    <a href="/training/detail?_id={{tr._id}}" target="_blank"
                       class="btn btn-sm btn-default glyphicon glyphicon-resize-full"/>
                </span>
            </ul>
        </div>
    </div>

    <div id="userSection" class="col-lg-4">
        <input type="search" placeholder="search user" class="form-control" ng-model="userQuery"/>

        <div ng-repeat=' ur in users | filter : userQuery' class="tr-item"
             ng-drag="true" ng-drag-data="ur" ng-if="true" ng-drag-success="onDragComplete($data,$event)">
            <!--<p class="tr-user pull-right">{{ur.userName}}</p>-->
            <div class="tr-user-avatar">
                <user-avatar user-id="{{ur._id}}" user-name="{{ur.userName}}" px-size="60"></user-avatar>
            </div>

            <p class="tr-drag-hide">
                <h5><a href="/training/detail?_id={{ur._id}}" target="_blank">{{ur.userName}}</a></h5>
            </p>

            <p class="tr-drag-hide">
                <span><span class="glyphicon glyphicon-blackboard"></span> Taken: {{getUserTaken(ur)}}</span>
                <span><span class="glyphicon glyphicon-heart"></span> Intrested In: {{getUserLiked(ur)}}</span>
            </p>
        </div>
    </div>
</div>