<!--carousel side for top 5 hot cources-->
<div ng-show="hotCources.length" class="carousel-container">
    <div class="carousel slide" id="carousel-cources" data-ride="carousel" data-interval="3000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li ng-repeat="cource in hotCources" data-target="#carousel-cources" data-slide-to="{{$index}}"
                ng-class="{'active':$first}"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div ng-repeat="cource in hotCources" ng-class="{'item':true, 'deepskyblue':true,'active':$first}">
                <img ng-src="assets/img/slide.jpg"/>

                <div class="carousel-caption">
                    <h1 data-animation="animated bounceInLeft">
                        {{cource['name']}}
                    </h1>

                    <h3 data-animation="animated bounceInLeft">
                        {{cource['courseId'] }} / {{cource['city']}} / {{cource['programType']}}
                    </h3>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-cources" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-cources" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- /.carousel -->
    <script>
        $('#carousel-cources').carousel();
    </script>
</div>

<!--table for all cources list-->
<div ng-show="cources.length" ng-cloak>

    <!--cources revervation-->
    <div class="clearfix">
        <div ng-disabled="selectedCources<=0" class="btn btn-info" ng-click="likeAll()"
             style="float: right; text-align: center; margin-bottom: 10px; width: 100px;">
            <span class="glyphicon glyphicon-heart"></span>
            <em>{{selectedCources}}</em> of <em>{{totalCources}}</em>
        </div>
    </div>

    <!--cources list-->
    <div>
        <input type="search" placeholder="Search" class="form-control" ng-model="query"/>
    </div>
    <table class="table table-bordered table-hover table-responsive table-striped" style="text-align: center">
        <thead>
        <tr>
            <th>
                <multi-checkbox checkboxes="filteredCources" all-selected="allSelected"
                                all-clear="nonSelected" total-count="totalCources"
                                selected-count="selectedCources"></multi-checkbox>
            </th>
            <th ng-repeat="field in fields" ng-click="sort(field)"
                style="vertical-align: middle;font-weight: bold; text-align: center" ng-hide="$first">{{field}}
            </th>
        </tr>
        </thead>

        <tbody style="vertical-align: middle; text-align: start">
        <tr ng-repeat="cource in cources | filter : query | orderBy: predicate : sort.order">
            <!--ng-click="view(cource._id)"-->
            <td><input type="checkbox" ng-model="cource.isSelected"></td>
            <td ng-repeat="field in fields" ng-hide="$first">
                {{ cource[field]}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
